---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout 
    title="Contacto | Edición Aular 🚀✨"
    description="Ponte en contacto con Edición Aular. Ayudamos a negocios de todos los tamaños a alcanzar sus objetivos. ¡Hablemos de tu proyecto! 📞"
>
    <div class="stg-container">
        <!-- Section: Page Title -->
        <section class="is-fullwidth">
            <div class="stg-row stg-bottom-gap-l">
                <div class="stg-col-6 stg-offset-3 align-center">
                    <h1 class="bringer-page-title" data-appear="fade-up" data-unload="fade-up">Ponte en Contacto</h1>
                    <p class="bringer-large-text" data-appear="fade-up" data-delay="100" data-unload="fade-up">Ayudamos a negocios de todos los tamaños a alcanzar sus objetivos. Creemos que cada marca, grande o pequeña, merece brillar.</p>
                </div>
            </div>
            <div class="bringer-parallax-media" data-parallax-speed="20" data-appear="fade-up" data-delay="200" data-unload="fade-up">
                <img class="bringer-lazy" src="/img/null.png" data-src="/img/contact/contact 1.webp" alt="Get in Touch" width="1920" height="960">
            </div>
        </section>

        <!-- Section: About Us -->
        <section>
            <!-- Section Title -->
            <div class="stg-row stg-bottom-gap">
                <div class="stg-col-8">
                    <h2 data-split-appear="fade-up" data-unload="fade-up">¿Listo para encender el fuego de tu marca? 🔥 ¡Conectemos! 🤝</h2>
                </div>
                <div class="stg-col-4"></div>
            </div>
            <!-- Section Content -->
            <div class="stg-row stg-bottom-gap-l">
                <div class="stg-col-6 stg-offset-6" data-appear="fade-up" data-delay="200" data-unload="fade-up">
                    <p>En Edición Aular, creemos en el poder de la colaboración y la pasión compartida. No somos solo un equipo creativo, somos tus socios para encender el potencial único de tu marca. Así que, ya sea que estés repleto de ideas o apenas comenzando a surgir, ¡contáctanos y hablemos!</p>
                </div>
            </div>
            <!-- Grid Gallery -->
            <div class="bringer-grid-3cols bringer-parallax-media bringer-m-grid-3cols stg-m-small-gap" data-stagger-appear="fade-up" data-delay="200" data-stagger-unload="fade-up">
                <a href="/img/inner-pages/contacts02.jpg" class="bringer-lightbox-link" data-size="960x960">
                    <img class="bringer-lazy" src="/img/null.png" data-src="/img/inner-pages/1.webp" alt="Edición Aular" width="960" height="960">
                </a>
                <a href="/img/inner-pages/contacts03.jpg" class="bringer-lightbox-link" data-size="960x960">
                    <img class="bringer-lazy" src="/img/null.png" data-src="/img/inner-pages/brand 4.webp" alt="Edición Aular" width="960" height="960">
                </a>
                <a href="/img/inner-pages/contacts04.jpg" class="bringer-lightbox-link" data-size="960x960">
                    <img class="bringer-lazy" src="/img/null.png" data-src="/img/inner-pages/2.webp" alt="Edición Aular" width="960" height="960">
                </a>
            </div>
        </section>

        <!-- Section: Let's Talk -->
        <section class="backlight-top divider-bottom">
            <!-- Section Title -->
            <div class="stg-row bringer-section-title">
                <div class="stg-col-8 stg-offset-2">
                    <div class="align-center">
                        <h2 data-appear="fade-up" data-unload="fade-up">¡Hablemos! 🗣</h2>
                        <p class="bringer-large-text" data-appear="fade-up" data-delay="100" data-unload="fade-up">Cómo Conectar con Nosotros:</p>
                    </div>
                </div>
            </div>
            <!-- Contacts Grid -->
            <div class="stg-row" data-stagger-appear="fade-up" data-delay="200" data-stagger-unload="fade-up">
                <div class="stg-col-4 stg-tp-col-6 stg-tp-bottom-gap">
                    <!-- Phone -->
                    <div class="bringer-block stg-aspect-square stg-vertical-space-between">
                        <a href="tel:+573002730128" class="bringer-grid-item-link"></a>
                        <div>
                            <h5>Phone<span class="bringer-accent">.</span></h5>
                            <h6>+57 (300) 273-01-28</h6>
                        </div>
                        <p>Llámanos y charla directamente con nuestro amigable equipo. Siempre estamos felices de responder cualquier pregunta.</p>
                    </div>
                </div>
                <div class="stg-col-4 stg-tp-col-6 stg-tp-bottom-gap">
                    <!-- Email -->
                    <div class="bringer-block stg-aspect-square stg-vertical-space-between">
                        <a href="mailto:info@edicionaular.com" class="bringer-grid-item-link"></a>
                        <div>
                            <h5>Email<span class="bringer-accent">.</span></h5>
                            <h6>info@edicionaular.com <br> <br>edicionaular@gmail.com</h6>
                        </div>
                        <p>Envíanos un mensaje detallado. Nos pondremos en contacto contigo lo antes posible para discutir tu proyecto creativo.</p>
                    </div>
                </div>
                <div class="stg-col-4 stg-tp-col-12">
                    <!-- Social Media -->
                    <div class="bringer-block stg-aspect-square stg-tp-aspect-rectangle stg-vertical-space-between">
                        <div>
                            <h5>Redes Sociales:<span class="bringer-accent">.</span></h5>
                            <ul class="bringer-socials-list stg-small-gap" data-stagger-appear="fade-up" data-stagger-delay="75">
                                <li>
                                    <a href="https://www.facebook.com/edicionaular" target="_blank" class="bringer-socials-facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/edicion_aular/" target="_blank" class="bringer-socials-instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://vimeo.com/user67007640" target="_blank" class="bringer-socials-vimeo">
                                        <i class="fab fa-vimeo-v"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.tiktok.com/@edicionaular8" target="_blank" class="bringer-socials-tiktok">
                                        <i class="fab fa-tiktok"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://wa.link/tjepy5" target="_blank" class="bringer-socials-whatsapp">
                                        <i class="fab fa-whatsapp"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <p>Síguenos en nuestras plataformas sociales para echar un vistazo a nuestro mundo creativo, obtener insights de la industria y conocer nuestros proyectos.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: CTA Form -->
        <section class="backlight-top is-fullwidth">
            <div class="stg-row stg-valign-middle stg-cta-with-image stg-tp-column-reverse">
                <div class="stg-col-5" data-unload="fade-left">
                    <div class="bringer-offset-image" data-bg-src="/img/cta/contact2.webp" data-appear="fade-up" data-threshold="0.25"></div>
                    <form action="/mail.php" method="post" class="bringer-contact-form bringer-block" data-fill-error="Por favor, completa el formulario." data-appear="fade-right" data-threshold="0.25">
                        <div class="bringer-form-content">
                            <!-- Field: Name -->
                            <label for="name">Nombre</label>
                            <input type="text" id="name" name="name" placeholder="Miguel Perez" required>
                            <!-- Field: Email -->
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="email@gmail.com" required>    
                            <!-- Field: Message -->
                            <label for="message">Mensaje</label>
                            <textarea id="message" name="message" placeholder="Lo que quieres Contarnos" required></textarea>
                            <!-- Form Button -->
                            <button type="submit" value="Send Message">Enviar Mensaje</button>
                            <div class="bringer-contact-form__response"></div>
                        </div>
                        <span class="bringer-form-spinner"></span>
                    </form>
                </div>
                <div class="stg-col-6 stg-offset-1" data-unload="fade-right">
                    <div class="bringer-cta-form-content">
                        <div class="bringer-cta-form-title" data-split-appear="fade-up" data-split-delay="100" data-split-by="line">
                            Hablemos de tu próximo proyecto creativo.
                        </div>
                        <div class="bringer-cta-text">
                            <div class="stg-row stg-valign-middle">
                                <div class="stg-col-2 stg-offset-2 stg-tp-col-1 stg-tp-offset-3 stg-m-col-1 stg-m-offset-2" data-appear="fade-right">
                                    <i class="bringer-cta-icon"></i>
                                </div>
                                <div class="stg-col-8 stg-tp-col-7 stg-m-col-8 stg-m-offset-1" data-appear="fade-left">
                                    <p class="bringer-large-text">Ayudamos a agencias creativas, diseñadores y otros profesionales creativos a mostrar su trabajo perfecto.</p>
                                </div>
                            </div>
                        </div>
                        <div class="bringer-cta-counters bringer-grid-3cols bringer-m-grid-3cols" data-stagger-appear="fade-up" data-stagger-delay="100">
                            <!-- Counter Item -->
                            <div class="bringer-counter bringer-small-counter" data-delay="3000">
                                <div class="bringer-counter-number">+1399</div>
                                <div class="bringer-counter-label">Proyectos Completados</div>
                            </div>
                            <!-- Counter Item -->
                            <div class="bringer-counter bringer-small-counter" data-delay="3000">
                                <div class="bringer-counter-number" data-suffix="+">479</div>
                                <div class="bringer-counter-label">Empresas Satisfechas</div>
                            </div>
                            <!-- Counter Item -->
                            <div class="bringer-counter bringer-small-counter" data-delay="3000">
                                <div class="bringer-counter-number" data-suffix="+">12</div>
                                <div class="bringer-counter-label">De Experiencia</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</BaseLayout>
