---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout 
    title="Lanzamientos Digitales | Edición Aular 🚀✨"
    description="Impulsa tus ventas masivas y construye autoridad con nuestros lanzamientos digitales 🚀✨. Estrategias efectivas en landing pages y marketing. ¡Agenda tu cita hoy! 🌟"
>
    <div class="stg-container">
        <!-- Section: Intro -->
        <section>
            <div class="stg-row stg-large-gap stg-tp-normal-gap stg-tp-column-reverse">
                <div class="stg-col-6 stg-vertical-space-between" data-unload="fade-left">
                    <div class="stg-tp-bottom-gap">
                        <h1 class="bringer-page-title" data-split-appear="fade-up">Lanzamientos Digitales</h1>
                        <p class="bringer-large-text" data-appear="fade-right" data-delay="100"><strong>¿Listo para generar ventas masivas y construir autoridad?</strong><br>
Un lanzamiento no es solo una venta; es una estrategia que transforma tu infoproducto en una experiencia única para tu audiencia. En Edición Aular, llevamos tu producto al siguiente nivel, combinando creatividad, técnica y un equipo altamente experimentado que sabe cómo hacer que las cosas sucedan.</p>
<p><strong>¿Qué es un lanzamiento digital?</strong> <br><br>
    Es el proceso de presentar tu producto al mercado con un enfoque estratégico y persuasivo. A través de landing pages optimizadas, campañas publicitarias efectivas y semanas de contenido intensivo, captamos leads interesados, los guiamos en un recorrido y convertimos su interés en ventas.<br><br>

<strong>El impacto es claro:</strong> <br>

<ul>
    <li><strong>Ventas rápidas y masivas:</strong> Captamos leads en cantidades significativas y los convertimos en compradores.</li>
    <li><strong>Construcción de autoridad:</strong> Los leads captados no solo compran; se convierten en seguidores que fortalecerán tu presencia digital.</li>
    <li><strong>Retorno de inversión:</strong> Desde tickets de 50 hasta 500 dólares, el lanzamiento asegura resultados medibles y escalables.</li>
</ul>
</p>
                    </div>
                    <div class="align-right" data-appear="fade-right">
                        <a href="https://cal.com/edicion-aular-website/lanzamientos-digitales" class="bringer-icon-link">
                            <div class="bringer-icon-link-content">
                                <h6>
                                    Conoce cómo podemos 
                                    <br>
                                    ayudarte a crecer
                                </h6>
                                <span class="bringer-label">Agenda una Cita</span>
                            </div>
                            <div class="bringer-icon-wrap">
                                <i class="bringer-icon bringer-icon-explore"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="stg-col-6 stg-tp-bottom-gap-l bringer-parallax-media" data-appear="fade-left" data-unload="fade-right">
                    <img class="bringer-lazy" src="/img/null.png" data-src="/img/inner-pages/lanzamiento.webp" alt="Lanzamientos Digitales" width="800" height="1200">
                </div>
            </div>
        </section>

        <!-- Section: Details -->
        <section class="backlight-both">
            <!-- Section Title -->
            <div class="stg-row stg-bottom-gap-l">
                <div class="stg-col-7">
                    <h2 data-split-appear="fade-up" data-unload="fade-up">¿Cómo lo hacemos?</h2>
                </div>
                <div class="stg-col-5"></div>
            </div>
            <!-- Details 01 Row -->
            <div class="stg-row stg-bottom-gap stg-valign-middle stg-m-bottom-gap-l" data-unload="fade-left">
                <div class="stg-col-3 stg-offset-3 stg-tp-col-6 stg-m-bottom-gap" data-appear="fade-right">
                    <div class="bringer-parallax-media">
                        <img class="bringer-lazy" src="/img/null.png" data-src="/img/inner-pages/lanza 1.webp" alt="Coordinamos con el experto" width="960" height="960">
                    </div>
                </div>
                <div class="stg-col-6 stg-tp-col-6" data-appear="fade-right" data-delay="100">
                    <span class="bringer-label">01</span>
                    <h4>Coordinamos con el experto</h4>
                    <p>Desde el inicio, definimos reglas claras y alineamos objetivos contigo. Trabajamos en un sistema colaborativo que asegura una ejecución impecable.</p>
                </div>
            </div>
            <!-- Details 02 Row -->
            <div class="stg-row stg-bottom-gap stg-valign-middle stg-tp-row-reverse stg-m-bottom-gap-l" data-unload="fade-right">
                <div class="stg-col-3 stg-tp-col-6 stg-m-bottom-gap" data-appear="fade-left">
                    <div class="bringer-parallax-media">
                        <img class="bringer-lazy" src="/img/null.png" data-src="/img/inner-pages/lanza 2.webp" alt="Landing pages que venden" width="960" height="960">
                    </div>
                </div>
                <div class="stg-col-6 stg-tp-col-6" data-appear="fade-left" data-delay="100">
                    <span class="bringer-label">02</span>
                    <h4>Creamos landing pages que venden</h4>
                    <p>Diseñamos páginas persuasivas basadas en el perfil de tu cliente ideal, con un enfoque claro: convertir visitas en ventas.</p>
                </div>
                <div class="stg-col-3"><!-- Empty Column --></div>
            </div>
            <!-- Details 03 Row -->
            <div class="stg-row stg-bottom-gap stg-valign-middle stg-m-bottom-gap-l" data-unload="fade-left">
                <div class="stg-col-3 stg-offset-3 stg-tp-col-6 stg-m-bottom-gap" data-appear="fade-right">
                    <div class="bringer-parallax-media">
                        <img class="bringer-lazy" src="/img/null.png" data-src="/img/inner-pages/lanza 3.webp" alt="Campañas publicitarias" width="960" height="960">
                    </div>
                </div>
                <div class="stg-col-6 stg-tp-col-6" data-appear="fade-right" data-delay="100">
                    <span class="bringer-label">03</span>
                    <h4>Campañas publicitarias que atraen</h4>
                    <p>Nuestro equipo de tráfico experto maneja Meta Ads y plataformas como YouTube y Facebook para atraer leads cualificados que estén listos para comprar.</p>
                </div>
            </div>
            <!-- Details 04 Row -->
            <div class="stg-row stg-bottom-gap stg-valign-middle stg-tp-row-reverse stg-m-bottom-gap-l" data-unload="fade-right">
                <div class="stg-col-3 stg-tp-col-6 stg-m-bottom-gap" data-appear="fade-left">
                    <div class="bringer-parallax-media">
                        <img class="bringer-lazy" src="/img/null.png" data-src="/img/inner-pages/lanza 4.webp" alt="Contenido intensivo" width="960" height="960">
                    </div>
                </div>
                <div class="stg-col-6 stg-tp-col-6" data-appear="fade-left" data-delay="100">
                    <span class="bringer-label">04</span>
                    <h4>Semanas de contenido intensivo</h4>
                    <p>Guiamos al experto para aportar valor a través de videos, webinars y publicaciones que generan confianza y compromiso con la audiencia.</p>
                </div>
                <div class="stg-col-3"><!-- Empty Column --></div>
            </div>
            <!-- Step 05 Row -->
            <div class="stg-row stg-bottom-gap stg-valign-middle stg-m-bottom-gap-l" data-unload="fade-left">
                <div class="stg-col-3 stg-offset-3 stg-tp-col-6 stg-m-bottom-gap" data-appear="fade-right">
                    <div class="bringer-parallax-media">
                        <img class="bringer-lazy" src="/img/null.png" data-src="/img/inner-pages/lanza 5.webp" alt="Automatizamos el seguimiento" width="960" height="960">
                    </div>
                </div>
                <div class="stg-col-6 stg-tp-col-6" data-appear="fade-right" data-delay="100">
                    <span class="bringer-label">05</span>
                    <h4>Automatizamos el seguimiento</h4>
                    <p><span class="bringer-highlight">Configuramos correos y sistemas de WhatsApp que mantienen a los leads interesados y conectados durante todo el proceso.</span></p>
                </div>
            </div>
            <!-- Details 06 Row -->
            <div class="stg-row stg-bottom-gap stg-valign-middle stg-tp-row-reverse stg-m-bottom-gap-l" data-unload="fade-right">
                <div class="stg-col-3 stg-tp-col-6 stg-m-bottom-gap" data-appear="fade-left">
                    <div class="bringer-parallax-media">
                        <img class="bringer-lazy" src="/img/null.png" data-src="/img/inner-pages/lanza 6.webp" alt="Closers expertos" width="960" height="960">
                    </div>
                </div>
                <div class="stg-col-6 stg-tp-col-6" data-appear="fade-left" data-delay="100">
                    <span class="bringer-label">06</span>
                    <h4>Cierre de ventas con closers expertos</h4>
                    <p>Un equipo de 10 closers se encarga de contactar a los leads directamente, resolviendo dudas y asegurando el cierre de cada venta.</p>
                </div>
                <div class="stg-col-3"><!-- Empty Column --></div>
            </div>

            <!-- Details 07 Row -->
            <div class="stg-row stg-bottom-gap stg-valign-middle stg-m-bottom-gap-l" data-unload="fade-left">
                <div class="stg-col-3 stg-offset-3 stg-tp-col-6 stg-m-bottom-gap" data-appear="fade-right">
                    <div class="bringer-parallax-media">
                        <img class="bringer-lazy" src="/img/null.png" data-src="/img/inner-pages/lanza 7.webp" alt="Lanzamiento en vivo" width="960" height="960">
                    </div>
                </div>
                <div class="stg-col-6 stg-tp-col-6" data-appear="fade-right" data-delay="100">
                    <span class="bringer-label">07</span>
                    <h4>Lanzamiento en vivo</h4>
                    <p>Culminamos con un evento en plataformas como YouTube o Zoom, donde el precio final es revelado y el experto conecta en tiempo real con la audiencia.</p>
                </div>
            </div>

        </section>
        <!-- Section: Offer -->
        <section>
            <!-- Title -->
            <div class="align-center">
                <div class="stg-bottom-gap">
                    <h3 class="bringer-page-title is-large" data-appear="fade-up" data-delay="100" data-threshold="0">No es solo una estrategia, es una experiencia transformadora.</h3>
                </div>
                <p class="bringer-large-text" data-appear="fade-up" data-delay="200" data-threshold="0">Nuestros lanzamientos están diseñados para:</p>
            </div>
            <!-- Services Grid -->
            <div class="stg-top-gap-l bringer-grid-3cols bringer-tp-grid-2cols bringer-tp-stretch-last-item" data-stagger-appear="fade-up" data-stagger-unload="fade-up">
                <!-- Item 01 -->
                <div class="bringer-block stg-aspect-square stg-vertical-space-between">
                    <h5>Captar leads masivos<span class="bringer-accent">.</span></h5>
                    <p>Construimos una audiencia que no solo compra, sino que se queda contigo.</p>
                </div>
                <!-- Item 02 -->
                <div class="bringer-block stg-aspect-square stg-vertical-space-between">
                    <h5>Generar ventas rápidas<span class="bringer-accent">.</span></h5>
                    <p>Convertimos el interés en resultados inmediatos.</p>
                </div>
                <!-- Item 03 -->
                <div class="bringer-masked-block bringer-grid-more-masked">
                    <div class="bringer-block stg-aspect-square stg-vertical-space-between is-accented bringer-masked-media">
                        <h5>Fortalecer tu presencia<span class="bringer-accent">.</span></h5>
                        <p class="bringer-large-text">Cada lead se convierte en una oportunidad para crecer tu autoridad digital.</p>
                    </div>
                    <div class="bringer-masked-content at-bottom-right">
                        <span class="bringer-square-button is-secondary">
                            <span class="bringer-icon bringer-icon-explore"></span>
                        </span>
                    </div>
                    <a href="https://cal.com/edicion-aular-website/lanzamientos-digitales"></a>
                </div>
            </div>
        </section>
        <!-- Section: Why Choose Us -->
        <section>
            <div class="stg-row stg-large-gap">
                <div class="stg-col-6 stg-tp-bottom-gap-l" data-unload="fade-left">
                    <div class="bringer-sticky-block">
                        <h2>¿Por qué trabajar con nosotros?</h2>
                        <p class="bringer-large-text">Somos apasionados por ayudar a empresas como la tuya a destacarse en el mercado.</p>
                        <div class="align-right">
                            <a href="/nosotros" class="bringer-arrow-link">Acerca de Nosotros</a>
                        </div>
                    </div>
                </div>
                <div class="stg-col-6">
                    <div class="bringer-grid-1col stg-normal-gap" data-stagger-appear="zoom-in" data-stagger-unload="zoom-out" data-threshold="0.5" data-stagger-delay="150">
                        <!-- Card Item -->
                        <div class="bringer-block">
                            <h4>+100 lanzamientos <span class="bringer-accent">exitosos</span><span class="bringer-accent">.</span></h4>
                            <p>Con dos placas Black de Hotmart, sabemos lo que hacemos.</p>
                        </div>
                                                
                        <!-- Card Item -->
                        <div class="bringer-block">
                            <h4>Equipo <span class="bringer-accent">experto y coordinado</span><span class="bringer-accent">.</span></h4>
                            <p>Con dos placas Black de Hotmart, sabemos lo que hacemos.</p>
                        </div>
                                                
                        <!-- Card Item -->
                        <div class="bringer-block">
                            <h4>Plataformas <span class="bringer-accent">clave</span><span class="bringer-accent">.</span></h4>
                            <p>Dominamos YouTube, WhatsApp, Manychat, Instagram, Facebook y Zoom para maximizar tus resultados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Grid CTA -->
        <section class="divider-top">
            <div class="bringer-bento-grid bringer-grid-cta">
                <div class="is-large bringer-masked-block" data-appear="fade-right" data-unload="fade-left">
                    <div class="bringer-grid-cta-media bringer-masked-media bg-lava">
                        <div class="bringer-grid-cta-heading">¿Listo para Conectar?</div>
                    </div>
                    <div class="bringer-masked-content at-bottom-right">
                        <p class="bringer-large-text" data-appear="fade-right" data-delay="100">Agenda tu cita hoy mismo →</p>
                    </div>
                </div>
                <div class="is-medium bringer-block" data-appear="fade-down" data-unload="fade-right">
                    <h3>Hablemos y transforma tu infoproducto en un éxito rotundo.</h3>
                </div>
                <div class="is-small" data-appear="zoom-out" data-delay="100" data-unload="zoom-out">
                    <a href="https://cal.com/edicion-aular-website/lanzamientos-digitales" class="bringer-square-button">
                        <span class="bringer-icon bringer-icon-explore"></span>
                    </a>
                </div>
                <div class="is-small" data-appear="zoom-out" data-delay="200" data-unload="zoom-out">
                    <img src="/img/home/CAZON-BRAND-MOCKUP-8-copia.webp" alt="Contacto" width="960" height="960">
                </div>
            </div>
        </section>
    </div>
</BaseLayout>
